<div class="d-flex">

  <!-- Sidebar-->
  <div class="bg-dark border-right p-3 text-center" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white">
    <h6 class="text-light text-center">History</h6>
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- End Sidebar-->


  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search gifs...">
      </div>
    </div>
    <hr>
  </div>

</div>